$color:(
    primary: #0A3D62,
    secondary: #585700,
    accent: #fff,
    yell: #ffe785,
    black: rgb(0, 0, 0),
    font: #fff,
);

@function color($colorName){
    @return map-get($map: $color, $key: $colorName );
}

$fonts:(
    main: 'EB Garamond',
    secondary:  'Montserrat',
    coder: 'Cutive Mono'
);

@function fonts($fontName){
    @return map-get($map: $fonts, $key: $fontName );
}

body{
    background-color: rgb(39, 39, 39);
    color: color(font);
    header{
        .hero{
            font-family: fonts(main);
        }
    }
    section {
        margin-top: 150px;
        position: relative;
        top: 100px;
        
        .mf{
            margin-left: 100px;
            
        }
        .heroSec{

            font-family: fonts(main);
        }
        .lift{
            font-family: fonts(secondary);
            
        }
        img{
            max-width: 30vw;
            max-height: 40vh;
            position: relative;
            // left: 130px;
            // top: 30px;
        }
        .job{
            margin: 100px;
            font-family: fonts(secondary);
        }
      }
      .img-s{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        // max-height: 40vh;
        // position: relative;
      }
      .heroSec-s{

        font-family: fonts(main);
    }
    .lift-s{
        font-family: fonts(secondary);
        
    }
      
    
}




