body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
 main {
    flex: 1 0 auto;
 }
 .page-footer{
     position: relative;
     float: bottom ;
 }

html, body {
    height: 100%;
  }




/* .black_widow{
    background-color: #fffeee;
} */


.slider .indicators .indicator-item.active{
    background-color: #7c1dbb;
}


.parallax-container{
    min-height: 500px;
    height: auto;
}

/* global used fonts and styles */
.footer-one{
background-color: #fffbfe;
box-shadow: 0px 5px 5px 10px rgb(224, 224, 224);
}
.footer-two{
background-color: #e9e9e9;
}
.font-header{
    font-family: 'Aclonica', sans-serif;
    color: #f5f5f5;
    ;
}
.font-header-dark{
    font-family: 'Aclonica', sans-serif;
    color: #000000;
}

.font-sub-dark{
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.font-sub{
    font-family: 'Open Sans', sans-serif;
    color: rgb(230, 230, 230);
}
.font-footer-dark{
    font-family: 'Aclonica', sans-serif;
    color: #3d0049;
    font-size: 20px;
}

.paragraph{
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(252, 252, 252);
}

.paragraph-dark{
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(18, 0, 51);
    font-size: 14px;
}

.font-action-dark{
    font-family: 'Open Sans', sans-serif;
    color: #00265f;
    margin: 30px 0px;
    font-size: 30px;
    font-weight: 700;
}

/* info card settings */
.card-panel{
    height: 350px;
}
.card-coffee1{
    background-color:  #7c1dbb;
}
.card-coffee1 :hover{
    background-color:  #53127e;
}
.card .card-reveal{
     background-color: #ffffff;
     color:#6a0074;
}

/* carousal section */
.carousel{
    height: 500px ;
    margin-top: 0px;
}

.icon-coffee{
    color: #7c1dbb;
}

.card-panel {
    text-align: center;
    height: 400px;
    width: 300px;
    border-radius: 10%;
}

.carousel {

    /*! overflow: hidden; */
    position: relative;
    margin-top: -100px;
    width: 100%;
    height: 600px;
    -webkit-perspective: 500px;
    perspective: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.carousel-item{
    margin-top: -50px;
    margin-right: 20px;
}
.carousel-item p{
    margin-top: 50px;
    
}

/* buttons used for action */



.link-size-action{
    font-family: 'Open Sans', sans-serif;
    color: #9c0bfc;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    border-radius: 8px;
}

.link-size-action:hover{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #f8fbff;
    background-color: #9c0bfc;
}

.link-size-menu{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #9c0bfc;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
    padding-left: 10px;
    text-decoration: underline;
    border-radius: 5px;
}

.link-size-menu :hover{
    color: #f8fbff;
    background-color: #9c0bfc;
}


#nav-mobile> .btn{
    box-shadow: none;
    font-family: 'Montserrat Alternates', sans-serif;
    
    font-size: 15px;
    background-color: #fff;
    margin: 7px 30px auto 10px;
    border-width: 0px;
}
#nav-mobile> .btn :hover{
    -webkit-box-shadow: 0 0 5px 2px rgb(233, 210, 0);
    -moz-box-shadow: 0 0 5px 2px rgb(233, 210, 0);
    box-shadow: 0 0 5px 2px rgb(233, 210, 0);
    font-family: 'Montserrat Alternates', sans-serif;
    border-width: 2px solid rgb(124, 0, 155);
    background-color: #fff;
    color: rgb(124, 0, 155);

}

.link-size-top > a{
    color: #4e008d;
}
.link-size-top > a:hover{
    color: #ffffff;
}



/* nav bar items */


nav ul li.active{

    font-family: 'Montserrat Alternates', sans-serif;
    color: #0e76ec;
    background-color:  transparent;
} 

.sidenav li>a {
    color: rgba(55, 1, 92, 0.87);
    display: block;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: underline;
}
.sidenav li>a:hover{
    background-color:  rgba(55, 1, 92, 0.87);
    color: rgba(255, 255, 255, 0.87);
    font-size: 22px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 500px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    -webkit-transform-origin: 100 100;
    transform-origin: 100 100;
    min-height: 900px;
    
}
.dropdown-content li>a, .dropdown-content li>span {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    color: #4e008d;
    display: flex;
    line-height: 24px;
    padding: 14px 16px;
}


/* table of actinon center */
table{
    width: 100%;
    display: inline-flexbox;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: black 5 5;
}
td, th {
    border: 2px black;
    padding:2px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
}


/* about us */

.mission-txt{
    display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 90px;
  font-family: 'Cookie', cursive;
  color: rgb(255, 230, 4);
}

.main-mission{
    background-color: rgb(28, 1, 63);
    line-height: 1100px;
    text-align: center;
    height: 1100px; 
    width: 100%;
    
    
}



.pin-top {
  position: relative;
}


.pin-bottom {
  position: fixed;
}


.pinned {
  position: fixed !important;
}

#top{
    transition: top 0.6s;
}
#top.animate{
    top: -72px;
}
#top.sticky{
    top: 0;
    z-index: 99;
}
.fcards{
    margin: 50px;
}
@media  (max-width: 500px) {
    .fcards{
      background-color: rgb(255, 253, 226);
      margin: 20px;
    }
  }





/* font-family: 'Cookie', cursive;
font-family: 'Baloo Tamma 2', cursive;
font-family: 'Aclonica', sans-serif;
font-family: 'Montserrat Alternates', sans-serif; */



